h1 {
  width: 300px;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
  background-color: #96a5bc;
  border: 1px solid black;
  width: 200px;
  text-align: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}
